<div class="header-bottom">
    <div class="wrap">
        <!-- start header menu -->
        <ul class="megamenu skyblue">
            <li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
            <li style="display: inline-block;"><a class="color1" href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="grid" style="display: inline-block;">
                <a class="color2" href="#">Men</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("login", "Login", "Home")</li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">men</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <img src="@Url.Content("~/Content/mytemplate/")images/nav_img.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="active grid" style="display: inline-block;">
                <a class="color4" href="#">Women</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>shop</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>help</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>account</h4>
                                <ul>
                                    <li>@Html.ActionLink("login", "Login", "Home")</li>
                                    <li>@Html.ActionLink("create an account", "Register", "Home")</li>
                                    <li>@Html.ActionLink("create wishlist", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("my shopping bag", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>

                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <img src="@Url.Content("~/Content/mytemplate/")images/nav_img1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col2"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                    </div>
                </div>
            </li>
            <li style="display: inline-block;">
                <a class="color5" href="#">Kids</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("login", "Login", "Home")</li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">man</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <img src="@Url.Content("~/Content/mytemplate/")images/nav_img2.jpg" alt="">
                    </div>
                </div>
            </li>
            <li style="display: inline-block;">
                <a class="color6" href="#">Sale</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>shop</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">my company</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>man</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>help</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>account</h4>
                                <ul>
                                    <li>@Html.ActionLink("login", "Login", "Home")</li>
                                    <li>@Html.ActionLink("create an account", "Register", "Home")</li>
                                    <li>@Html.ActionLink("create wishlist", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("my shopping bag", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col2"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                    </div>
                </div>
            </li>
            <li style="display: inline-block;">
                <a class="color7" href="#">Customize</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>shop</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>help</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>account</h4>
                                <ul>
                                    <li>@Html.ActionLink("login", "Login", "Home")</li>
                                    <li>@Html.ActionLink("create an account", "Register", "Home")</li>
                                    <li>@Html.ActionLink("create wishlist", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("my shopping bag", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col2"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                    </div>
                </div>
            </li>
            <li style="display: inline-block;">
                <a class="color8" href="#">Shop</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("login", "Login", "Home")</li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">man</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="display: inline-block;">
                <a class="color9" href="#">Football</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>shop</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>help</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>account</h4>
                                <ul>
                                    <li>@Html.ActionLink("login", "Login", "Home")</li>
                                    <li>@Html.ActionLink("create an account", "Register", "Home")</li>
                                    <li>@Html.ActionLink("create wishlist", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("my shopping bag", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("brands", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li>@Html.ActionLink("trends", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("sale", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                </ul>

                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li>@Html.ActionLink("new arrivals", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("men", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("women", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("accessories", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("kids", "Shop", "Home")</li>
                                    <li>@Html.ActionLink("style videos", "Shop", "Home")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col2"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                    </div>
                </div>
            </li>
            <li style="display: inline-block;"><a class="color10" href="#">Running</a></li>
            <li style="display: inline-block;"><a class="color11" href="#">Originals</a></li>
            <li style="display: inline-block;"><a class="color12" href="#">Basketball</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

